.App {
  background-color: rgba(3, 1, 20, 0.844);
  background-image: url("./assets/react-logo.svg");
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  color: white;
}

.main {
  text-align: left;
  padding: 100px 10%;
  height: 30rem;
}

.intro {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.desc {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 20px;
  max-width: 400px;
}

.awesome {
  padding: 10px 20px;
  background-color: white;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.awesome:hover {
  background-color: #61dafb;
  color: black;
}

.features {
  background-color: white;
  background-size: 100px;
  padding: 100px 10%;
  color: black;
  display: flex;
  justify-content: space-between;
  height: 30rem;
  gap: 20px;
  flex-wrap: wrap;
}

.feature {
  text-align: center;
  max-width: 200px;
}

.feature img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.feature h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.feature p {
  font-size: 0.9rem;
  font-weight: 300;
}